.checkbox__toggle{
    display: none;

    &__label{
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        vertical-align: middle;
        display: inline-block;
        margin: 10px 0;
        font-family: Montserrat;
    }
    &__label:before{
        content: "";
        width: 40px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        vertical-align: middle;
    }
    &__label:after{
        content: "";
        width: 12px;
        height: 12px;
        display: inline-block;
        position: relative;
        right: 255px;
        top: 0px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 10px;
        background: rgba(31, 32, 65, 0.25);
    }    
    &:checked + &__label:after{
        right: 235px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border: 1px solid #BC9CFF;
    }
    &:checked + &__label:before{
        border: 1px solid #BC9CFF;
    }
    
}