@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import "/text-field/field";
@import "/text-field/field-focus";
@import "/checkbox-button";
@import "/radio-buttons";
@import "/checkbox-toggle";
@import "/like-button";
@import "/dropdown";
@import "/subscription-text-field.scss";
@import "/checkbox-list";
@import "/checkbox-rich";
@import "/bullet-list";
@import "/user-review";
@import "/icon-review";

.components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-block {
        width: 30%;

        .component-block {
            margin: 20px 0;
            max-width: 320px;
            &__title {
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                text-transform: uppercase;
                &__name {                    
                    text-transform: uppercase;
                    color: #1F2041;
                    font-weight: bold;
                    font-family: Montserrat;
                }
                &__status {
                    text-transform: uppercase;
                    color: rgba(31, 32, 65, 0.5);
                    font-family: Montserrat;
                }
            }
        }
        .component-block--half {
            display: flex;
            justify-content: space-between;
            max-width: 320px;
            div {
                width: 90%;
            }
        }
    }
}
.components_review {
    display: flex;
    justify-content: center;
    .icon-review {
        width: 30%;
    }
    .user-review {
        width: 60%;
        max-width: 650px;
    }
}