.email-send {
	width: 100%;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 13px 15px;
	color: rgba(31, 32, 65, 0.75);
	-webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background: url('/dist/img/arrow_forward.svg') no-repeat;
    background-position: 96% center;
}